<html>
    <head>
        <title>Sena'nın blogu</title>
    </head>
    <body>
    	<div>
        <h1><a href="">Django Girls blog</a></h1>
    	</div>
    </body>

    	<div>
    		<p>published: 14.06.2014, 12:14</p>
    		<h2><a href="">Ilk Blogum</a></h2>
    		<p>Çok heyecanlıyım! Bu benim ilk blogum bla bla bla</p>
    	</div>

    	<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>mefailün feilatün bla bla:).</p>
        </div>
    </body>
</html>